# Node
frontend/node_modules
frontend/.next
frontend/out

# Python
backend/.venv
**/__pycache__/
**/*.pyc
**/*.pyo
backend/.pytest_cache
*.db

# Env
.env
frontend/.env.local
backend/.env

# OS
.DS_Store
